@import "./theme.scss";
@import"./iconfont.scss";

//主题颜色
.ht-theme {
    background: $ht-theme;
}

//主题背景
.ht-basebg {
    background: $ht-basebg;
}

//白色
.ht-white {
    background: $ht-white;
}

//路由点击
.ht-active-router {
    color: $ht-active-router;
}

//次要文字
.ht-minor-color {
    color: $ht-minor-color;
}


.ht-flex {
    display: flex;
}

.ht-row-left {
    justify-content: flex-start;
}

.ht-row-center {
    justify-content: center;
}

.ht-row-right {
    justify-content: flex-end;
}

.ht-row-around {
    justify-content: space-around;
}

.ht-row-between {
    justify-content: space-between;
}

.ht-col-left {
    align-items: flex-start;
}

.ht-col-center {
    align-items: center;
}

.ht-col-right {
    align-items: flex-end;
}

.ht-col-around {
    align-content: space-around;
}

.ht-col-between {
    align-content: space-between;
}

.ht-flow-column {
    flex-flow: column;
}

.ht-flow-row {
    flex-flow: row;
}

.ht-wrap {
    flex-flow: wrap;
}

.ht-weight {
    font-weight: bold;
}